<a href="https://colab.research.google.com/github/AestheticPranav/Data-Analytsics/blob/main/csheet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import all necessary lib

import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os
import csv

In [2]:
#list

lst_names = []
lst_cities = ["Banglore", "Chennai", "SFO", "beijing"]
lst_cities.append("NYC")
lst_age = [10, 20]
lst_age.append(30)
for val in lst_cities:
  print(val)
if "SFO" in lst_cities:
  print("yes")
else:
  print("no")

Banglore
Chennai
SFO
beijing
NYC
yes

In [3]:
 #Iterate list values along with index

lst_pets = ["dog", "cat"]
for i, value in enumerate(lst_pets):
    print(f"At index {i}, the value in the list is {value}")

At index 0, the value in the list is dog
At index 1, the value in the list is cat

In [4]:
#set

# empty set
set_names = ()
# Set with some string values in it
set_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
# append to existing list
set_cities.append("NYC")
# list with some integer values
set_age = [10, 20]
# append an integer to the existing list
set_age.append(30)
print(set_cities)
print(set_age)

['Bangalore', 'Chennai', 'SFO', 'Beijing', 'NYC']
[10, 20, 30]

In [6]:
# Declare dictionary
dict_data = {}

# Insert an empty list into the dictionary
dict_data['pet'] = []

# Append/add a list of dict to the list
dict_data['pet'].append({
   'name': 'Dog',
   'website': 'dog.com',
   'from': 'San Francisco'
})
dict_data['pet'].append({
   'name': 'Cat',
   'website': 'hellokitty.com',
   'from': 'Seattle'
})

# Print the dictionary
print(dict_data)

{'pet': [{'name': 'Dog', 'website': 'dog.com', 'from': 'San Francisco'}, {'name': 'Cat', 'website': 'hellokitty.com', 'from': 'Seattle'}]}

In [7]:
# List having different pet types
lst_pet_types = ["cat", "dog", "horse"]
# Returns number of elements in the list
c_pet_types = len(lst_pet_types)
# Prints 3
print(f"# pet types: {c_pet_types}")

# Using len() for dictionary
dict_pets = {"name": "dog", "age": 2}
# Returns number of keys in the dictionary
c_pets = len(dict_pets)
# Prints 2
print(f"# pets: {c_pets}")

# Corrected dictionary structure
dict_pets = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}]}
dict_p_h = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}],
            "persons": [{"name": "ram", "age": 12}, {"name": "kumaran", "age": 11}]}

# Returns number of keys in the dictionary
c_pets, c_humans = len(dict_pets), len(dict_p_h)
# Prints 1 for pets and 2 for humans
print(f"# pets: {c_pets} ; # humans: {c_humans}")

# Get only keys from the dictionary
lst_keys = list(dict_p_h.keys())
# Get only values from the dictionary
lst_values = list(dict_p_h.values())

# Prints number of keys and values
print(f"# keys: {len(lst_keys)} | # values: {len(lst_values)}")
print(f"keys: {lst_keys} | values: {lst_values}")

# pet types: 3
# pets: 2
# pets: 1 ; # humans: 2
# keys: 2 | # values: 2
keys: ['pets', 'persons'] | values: [[{'name': 'dog', 'age': 2}, {'name': 'dog', 'age': 2}], [{'name': 'ram', 'age': 12}, {'name': 'kumaran', 'age': 11}]]

In [8]:
import pandas as pd

# Create DataFrame from the dictionary
df = pd.DataFrame(dict_p_h)

# Print the original column names
print(df.columns)

# Access and print each column individually
for col in df.columns:
    print(col)

# Assign new names to df.columns
df.columns = ['Animals', 'Humans']

# Print the new column names
print(df.columns)

# Convert dictionaries in the DataFrame to strings for better display
df = df.applymap(str)

# Print the updated DataFrame
print(df)

Index(['pets', 'persons'], dtype='object')
pets
persons
Index(['Animals', 'Humans'], dtype='object')
                     Animals                          Humans
0  {'name': 'dog', 'age': 2}      {'name': 'ram', 'age': 12}
1  {'name': 'dog', 'age': 2}  {'name': 'kumaran', 'age': 11}

<ipython-input-8-aaca85f41c0c>:20: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(str)

In [9]:
# Delete the 'Animals' column
df = df.drop(columns=['Animals'])

# Print the updated DataFrame
print(df)

                           Humans
0      {'name': 'ram', 'age': 12}
1  {'name': 'kumaran', 'age': 11}

In [10]:
# Use strip() to remove leading and trailing spaces
txt = "     Moscow      "
str_clean = txt.strip()

# Print the result with the corrected sentence
print(f"From weather report, {str_clean} is too cold most of the times")

From weather report, Moscow is too cold most of the times

In [11]:
# List of items
lst_items = ['rambo', 'dog', 'chennai']

# Join the list items into a string separated by commas
st = ','.join(lst_items)

# Print the joined string
print(st)

# Print the original list
print(lst_items)

rambo,dog,chennai
['rambo', 'dog', 'chennai']

In [12]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack'],
    'Age': [25, 30, 35, 28, 32, 27, 31, 29, 26, 33],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose']
}

# Create DataFrame
df = pd.DataFrame(data)

# Print the first 9 rows of the DataFrame
print(df.head(9))

      Name  Age          City
0    Alice   25      New York
1      Bob   30   Los Angeles
2  Charlie   35       Chicago
3    David   28       Houston
4    Emily   32       Phoenix
5    Frank   27  Philadelphia
6    Grace   31   San Antonio
7   Hannah   29     San Diego
8      Ivy   26        Dallas

In [13]:
print(df.shape)

(10, 3)

In [14]:
print(list(df))

['Name', 'Age', 'City']

In [15]:
print(df.dtypes)

Name    object
Age      int64
City    object
dtype: object

In [16]:
print(df.describe(include='all'))

         Name        Age      City
count      10  10.000000        10
unique     10        NaN        10
top     Alice        NaN  New York
freq        1        NaN         1
mean      NaN  29.600000       NaN
std       NaN   3.204164       NaN
min       NaN  25.000000       NaN
25%       NaN  27.250000       NaN
50%       NaN  29.500000       NaN
75%       NaN  31.750000       NaN
max       NaN  35.000000       NaN

In [17]:
from tabulate import tabulate
# custom function for pretty print
def pretty_print(title, df, n):
   print(f"\n{title}:")
   print(tabulate(df.head(n), headers="keys", tablefmt="psql"))

In [18]:
pretty_print("Sample DataFrame", df, 9)

Sample DataFrame:
+----+---------+-------+--------------+
|    | Name    |   Age | City         |
|----+---------+-------+--------------|
|  0 | Alice   |    25 | New York     |
|  1 | Bob     |    30 | Los Angeles  |
|  2 | Charlie |    35 | Chicago      |
|  3 | David   |    28 | Houston      |
|  4 | Emily   |    32 | Phoenix      |
|  5 | Frank   |    27 | Philadelphia |
|  6 | Grace   |    31 | San Antonio  |
|  7 | Hannah  |    29 | San Diego    |
|  8 | Ivy     |    26 | Dallas       |
+----+---------+-------+--------------+

In [19]:
lst_age = df["Age"].unique()
# also works
lst_age = df.Age.unique()

print(lst_age)

[25 30 35 28 32 27 31 29 26 33]

In [20]:
df["Age"].value_counts

<bound method IndexOpsMixin.value_counts of 0    25
1    30
2    35
3    28
4    32
5    27
6    31
7    29
8    26
9    33
Name: Age, dtype: int64>

In [21]:
df.groupby("Age").count()

     Name  City
Age
25      1     1
26      1     1
27      1     1
28      1     1
29      1     1
30      1     1
31      1     1
32      1     1
33      1     1
35      1     1

In [22]:
df.groupby("Age").Name.nunique()

Age
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
35    1
Name: Name, dtype: int64

In [23]:
data = {'state':["CA","CA","TX","NC", "SC"],'deaths':[6,11,4,5,9]}
df = pd.DataFrame(data)
# how many unique death counts are under each of the state
df2 = df.groupby('state')['deaths'] \
        .nunique() \
        .to_frame('deaths') \
        .reset_index()
df2.head(10)

  state  deaths
0    CA       2
1    NC       1
2    SC       1
3    TX       1

In [26]:
import os

# directory name that may exist in current directory
directory = "sample_data"

# file name that may exist in current directory
file_name = "anscombe.json"

# returns True if dir exists
print("is dir? " + str(os.path.isdir(directory)))

# returns True if file_name exists
print("is file? " + str(os.path.isfile(file_name)))

# returns True (if dir is either file name or directory name that exists)
print("does it exist? " + str(os.path.exists(directory)))

if os.path.isfile(file_name):

   # returns the size of a file without opening it.
   print("file size: " + str(os.path.getsize(file_name)))
else:
   print("not a file to calculate size")

print("GET THREE DIFFERENT TYPE OF PATHS")

# declare file path
path_file = "/content/sample_data"

# return basename of path (outputs "data.txt")
print(os.path.basename(path_file))

# return directory name of a path
# output -> "/Users/lenin/Downloads"
print(os.path.dirname(path_file))

# return absolute path of a file
# output -> "/Users/lenin/Downloads/data.txt"
print(os.path.abspath(path_file))

is dir? True
is file? False
does it exist? True
not a file to calculate size
GET THREE DIFFERENT TYPE OF PATHS
sample_data
/content
/content/sample_data

In [27]:
lst_files = os.listdir('/content/sample_data')
print(lst_files)

['README.md', 'anscombe.json', 'mnist_train_small.csv', 'california_housing_train.csv', 'california_housing_test.csv', 'mnist_test.csv']

In [28]:
# run terminal command "ls -ltr"
str_list_files = os.popen("ls -ltr").read() # This will run the command and return any output
print(str_list_files)
# prints "str"
print(type(str_list_files))

total 4
drwxr-xr-x 1 root root 4096 Aug 27 13:23 sample_data

<class 'str'>

In [29]:

"""JavaScript Object Notation (JSON)
Standard text-based format for representing structured data based on JavaScript object syntax. It is interchangeable between programming languages as it is just a representation of Example JSON file content"""

# Dict to JSON example one
import json
# dictionary data to convert as a JSON object
dict_pets = {1: 'dog', 2: 'cat',
            3: 'horse', 4: 'elephant',
            5: 'tiger'}
# prints "dict"
print(type(dict_pets))
# save as JSON object
js_data = json.dumps(dict_pets)
# prints "dict"
print(type(dict_pets))
# prints with '' for key-value (wrong json)
print(dict_pets)
# prints with "" for key-value (correct json)
print(js_data)

<class 'dict'>
<class 'dict'>
{1: 'dog', 2: 'cat', 3: 'horse', 4: 'elephant', 5: 'tiger'}
{"1": "dog", "2": "cat", "3": "horse", "4": "elephant", "5": "tiger"}

In [30]:

# Dict to JSON example two
import json

dict_data = {}
# insert a empty list into the dictionary
dict_data['pet'] = []
# append/add a list of dict to the list
dict_data['pet'].append({
   'name': 'Dog',
   'website': 'dog.com',
   'from': 'San Francisco'
})
dict_data['pet'].append({
   'name': 'Cat',
   'website': 'hellokitty.com',
   'from': 'Seattle'
})

# variable "dict_data" declared on top of this cheat sheet
# prints "dict"
with open('data.json', 'w') as outfile:
   # write "dict_data" object content to output file as JSON
   json.dump(dict_data, outfile)

In [31]:
import os
import json
# json file name with/without path
path_in_pet = "data.json"
# check if file exists
if os.path.exists(path_in_pet):
   # open in read mode
   with open(path_in_pet, 'r') as f:
       # read data
       dict_data = json.load(f)
       # prints dict
       print(type(dict_data))
       # print content
       print(dict_data)

<class 'dict'>
{'pet': [{'name': 'Dog', 'website': 'dog.com', 'from': 'San Francisco'}, {'name': 'Cat', 'website': 'hellokitty.com', 'from': 'Seattle'}]}

In [32]:
import pandas as pd

# Assuming df is your pandas DataFrame
df = pd.DataFrame({'col1': [1.1, 2.2, 3.3]})

# Convert 'col1' to int32
df = df.astype({'col1': 'int32'})

# Print the data types after conversion
print(df.dtypes)

col1    int32
dtype: object

In [33]:
# int to string
age = 20

# int to float
salary = 10
f_salary = float(salary)
# float to int
salary = 10.11
# convert to integer
i_salary = int(salary)

print("age is " + str(age))
print("salary is " + str(salary))
print("f_salary is " + str(f_salary))
print("i_salary is " + str(i_salary))

age is 20
salary is 10.11
f_salary is 10.0
i_salary is 10

In [36]:

def to_lowercase(in_str):
   return str(in_str).lower()
# text to be converted
text = "How may I help you?"
# convert string to lowercase
text = to_lowercase(text)
print(text)

how may i help you?

In [35]:
text = "This is first line \nThis is second line"
print(text)
# replace new line with blank space
text_clean = text.replace("\n", "")
print(text_clean)

This is first line
This is second line
This is first line This is second line

In [37]:
import re
in_str = "Hi, How may I help you?"
str_clean = re.sub(r'\W+', ' ', in_str)
# prints -> Hi Where are you from
print(str_clean)

Hi How may I help you

In [38]:
import pandas as pd

# Sample DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [20, 30, 25, 40]}
df = pd.DataFrame(data)

# Calculate maximum age in the dataframe
max_age = df["age"].max()

# Normalize age and create a new column
df["age_normalized"] = df["age"] / max_age

# Print the original and normalized DataFrame
print("Original DataFrame:")
print(df)

# Accessing individual values
print("\nAccessing individual normalized values:")
for index, row in df.iterrows():
    print(f"Name: {row['name']}, Normalized Age: {row['age_normalized']}")

Original DataFrame:
      name  age  age_normalized
0    Alice   20           0.500
1      Bob   30           0.750
2  Charlie   25           0.625
3    David   40           1.000

Accessing individual normalized values:
Name: Alice, Normalized Age: 0.5
Name: Bob, Normalized Age: 0.75
Name: Charlie, Normalized Age: 0.625
Name: David, Normalized Age: 1.0

In [39]:
import pandas as pd
from tabulate import tabulate

# Function to pretty print DataFrame
def pretty_print(title, df, max_rows=None):
    print(f"\n{title}\n")
    if max_rows:
        print(tabulate(df.head(max_rows), headers='keys', tablefmt='psql'))
    else:
        print(tabulate(df, headers='keys', tablefmt='psql'))

# First DataFrame (df_1)
df_1 = pd.DataFrame({
    'id': ['A01', 'A02', 'A03', 'A04'],
    'Name': ['Dog', 'Cat', 'Eagle', 'Peacock']
})

# Print df_1
pretty_print("df_1:", df_1, 10)

# Second DataFrame (df_2)
df_2 = pd.DataFrame({
    'id': ['A01', 'A06', 'A02', 'A07'],
    'City': ['SFO', 'Chennai', 'NYC', 'Bangalore'],
    'Age': ['12', '13', '14', '12']
})

df_1:

+----+------+---------+
|    | id   | Name    |
|----+------+---------|
|  0 | A01  | Dog     |
|  1 | A02  | Cat     |
|  2 | A03  | Eagle   |
|  3 | A04  | Peacock |
+----+------+---------+

In [40]:
# Print df_2
pretty_print("df_2:", df_2, 10)

# Outer join => outputs all rows from both dataframes
df_outer = pd.merge(df_1, df_2, on='id', how='outer')
pretty_print("Merged Outer Join:", df_outer, 10)

# Inner join (equi join) => outputs common intersect
df_inner = pd.merge(df_1, df_2, on='id', how='inner')
pretty_print("Merged Inner Join:", df_inner, 10)

# Merge with different column names
df_new = pd.merge(df_1, df_2, left_on='id', right_on='id', how='inner')
pretty_print("Merged Inner Join (Different Column Names):", df_new, 10)

df_2:

+----+------+-----------+-------+
|    | id   | City      |   Age |
|----+------+-----------+-------|
|  0 | A01  | SFO       |    12 |
|  1 | A06  | Chennai   |    13 |
|  2 | A02  | NYC       |    14 |
|  3 | A07  | Bangalore |    12 |
+----+------+-----------+-------+

Merged Outer Join:

+----+------+---------+-----------+-------+
|    | id   | Name    | City      |   Age |
|----+------+---------+-----------+-------|
|  0 | A01  | Dog     | SFO       |    12 |
|  1 | A02  | Cat     | NYC       |    14 |
|  2 | A03  | Eagle   | nan       |   nan |
|  3 | A04  | Peacock | nan       |   nan |
|  4 | A06  | nan     | Chennai   |    13 |
|  5 | A07  | nan     | Bangalore |    12 |
+----+------+---------+-----------+-------+

Merged Inner Join:

+----+------+--------+--------+-------+
|    | id   | Name   | City   |   Age |
|----+------+--------+--------+-------|
|  0 | A01  | Dog    | SFO    |    12 |
|  1 | A02  | Cat    | NYC    |    14 |
+----+------+--------+--------+-------+

Merged Inner Join (Different Column Names):

+----+------+--------+--------+-------+
|    | id   | Name   | City   |   Age |
|----+------+--------+--------+-------|
|  0 | A01  | Dog    | SFO    |    12 |
|  1 | A02  | Cat    | NYC    |    14 |
+----+------+--------+--------+-------+

df_1:

+----+------+---------+
|    | id   | Name    |
|----+------+---------|
|  0 | A01  | Dog     |
|  1 | A02  | Cat     |
|  2 | A03  | Eagle   |
|  3 | A04  | Peacock |
+----+------+---------+

df_2:

+----+------+-----------+-------+
|    | id   | City      |   Age |
|----+------+-----------+-------|
|  0 | A01  | SFO       |    12 |
|  1 | A06  | Chennai   |    13 |
|  2 | A02  | NYC       |    14 |
|  3 | A07  | Bangalore |    12 |
+----+------+-----------+-------+

left join:

+----+------+---------+--------+-------+
|    | id   | Name    | City   |   Age |
|----+------+---------+--------+-------|
|  0 | A01  | Dog     | SFO    |    12 |
|  1 | A02  | Cat     | NYC    |    14 |
|  2 | A03  | Eagle   | nan    |   nan |
|  3 | A04  | Peacock | nan    |   nan |
+----+------+---------+--------+-------+

rows in df2 which are not in df1:

+----+------+---------+--------+-------+
|    | id   | Name    |   City |   Age |
|----+------+---------+--------+-------|
|  2 | A03  | Eagle   |    nan |   nan |
|  3 | A04  | Peacock |    nan |   nan |
+----+------+---------+--------+-------+

In [47]:
# input file
file_name = '/ipf_0307.csv'
# read csv file
df_in_power = pd.read_csv(file_name)
# men only
df_state_male = df_in_power.loc[df_in_power['Sex'] == "M"]\
                .groupby(['Country'])\
                .size()\
                .to_frame('weight')\
                .reset_index()
# sort by count
df_sorted = df_state_male\
                .sort_values(by=['weight'], ascending=False)
print(df_in_power)
#print(df_country) # This line was causing the error
print(df_sorted)

                     Name Sex Event   Equipment   Age AgeClass BirthYearClass  \
0         Havjinder Kumar   M   SBD  Single-ply   NaN      NaN            NaN
1            Ashoh Kapoor   M   SBD  Single-ply  33.5    24-34          24-39
2            Mehdi Fatemi   M   SBD  Single-ply  32.0    24-34          24-39
3            Jugal Dhawan   M   SBD  Single-ply   NaN      NaN            NaN
4          Francois Kalik   M   SBD  Single-ply  37.5    35-39          24-39
..                    ...  ..   ...         ...   ...      ...            ...
170          Brian Siders   M   SBD  Single-ply  25.0    24-34          24-39
171  Hennis Washington #1   M   SBD  Single-ply  33.0    24-34          24-39
172       Brad Gillingham   M   SBD  Single-ply  37.0    35-39          24-39
173     Anthony Harris #1   M   SBD  Single-ply  39.0    35-39          24-39
174        Ray Benemerito   M   SBD  Single-ply  36.0    35-39          24-39

    Division  BodyweightKg WeightClassKg  ...  Country  State  Federation  \
0       Open        134.95          125+  ...    India    NaN         IPF
1       Open        124.55           125  ...    India    NaN         IPF
2       Open        107.25           110  ...     Iran    NaN         IPF
3       Open        104.65           110  ...    India    NaN         IPF
4       Open         98.55           100  ...   France    NaN         IPF
..       ...           ...           ...  ...      ...    ...         ...
170     Open        148.85          125+  ...      USA    NaN         IPF
171     Open         59.85            60  ...      USA    NaN         IPF
172     Open        148.20          125+  ...      USA    NaN         IPF
173     Open        109.65           110  ...      USA    NaN         IPF
174     Open         89.85            90  ...      USA    NaN         IPF

     ParentFederation        Date  MeetCountry  MeetState  MeetTown  \
0                 IPF  2003-11-04      Denmark        NaN     Vejle
1                 IPF  2003-11-04      Denmark        NaN     Vejle
2                 IPF  2003-11-04      Denmark        NaN     Vejle
3                 IPF  2003-11-04      Denmark        NaN     Vejle
4                 IPF  2003-11-04      Denmark        NaN     Vejle
..                ...         ...          ...        ...       ...
170               IPF  2003-11-04      Denmark        NaN     Vejle
171               IPF  2003-11-04      Denmark        NaN     Vejle
172               IPF  2003-11-04      Denmark        NaN     Vejle
173               IPF  2003-11-04      Denmark        NaN     Vejle
174               IPF  2003-11-04      Denmark        NaN     Vejle

                                   MeetName  Sanctioned
0    Men's World Powerlifting Championships         Yes
1    Men's World Powerlifting Championships         Yes
2    Men's World Powerlifting Championships         Yes
3    Men's World Powerlifting Championships         Yes
4    Men's World Powerlifting Championships         Yes
..                                      ...         ...
170  Men's World Powerlifting Championships         Yes
171  Men's World Powerlifting Championships         Yes
172  Men's World Powerlifting Championships         Yes
173  Men's World Powerlifting Championships         Yes
174  Men's World Powerlifting Championships         Yes

[175 rows x 42 columns]
        Country  weight
31      Ukraine      11
30          USA      11
27       Sweden      11
26       Russia      11
9       Denmark      11
20        Japan      10
7        Canada      10
25       Poland       9
13      Germany       9
11      Finland       7
6      Bulgaria       6
24       Norway       6
12       France       6
14      Hungary       6
28       Taiwan       5
23  New Zealand       5
16        India       5
1     Australia       5
8       Czechia       5
22  Netherlands       4
10      England       4
18         Iran       3
4       Belgium       3
2       Austria       3
29           UK       2
17    Indonesia       1
19        Italy       1
21   Luxembourg       1
15      Iceland       1
5        Brazil       1
3       Belarus       1
0     Argentina       1