<a href="https://colab.research.google.com/github/AestheticPranav/Data-Analytsics/blob/main/miniproject_uk_crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd

# Folder path containing CSV files
folder_path = "/content/drive/MyDrive/dataset"

# List all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# Combine all CSV files into a single DataFrame (if structure matches)
dataframes = []
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    dataframes.append(df)

# Concatenate all dataframes
combined_df = pd.concat(dataframes, ignore_index=True)

# Display the first few rows
print(combined_df.head())

# Perform your analysis (e.g., checking columns, summary statistics)
print(combined_df.info())
print(combined_df.describe())

                        Type                       Date  \
0              Person search  2019-07-01T11:45:00+00:00
1  Person and Vehicle search  2019-07-01T13:25:35+00:00
2  Person and Vehicle search  2019-07-01T13:35:48+00:00
3  Person and Vehicle search  2019-07-01T13:39:30+00:00
4              Person search  2019-07-01T19:15:10+00:00

  Part of a policing operation  Policing operation   Latitude  Longitude  \
0                        False                 NaN        NaN        NaN
1                        False                 NaN        NaN        NaN
2                        False                 NaN        NaN        NaN
3                        False                 NaN        NaN        NaN
4                        False                 NaN  52.143801  -0.458665

  Gender Age range                             Self-defined ethnicity  \
0   Male     25-34                    Other ethnic group - Not stated
1   Male     18-24  White - English/Welsh/Scottish/Northern Irish/...
2   Male     25-34  White - English/Welsh/Scottish/Northern Irish/...
3   Male     25-34                 White - Any other White background
4   Male   over 34                 White - Any other White background

  Officer-defined ethnicity  ... Month Reported by Falls within Location  \
0                     Black  ...   NaN         NaN          NaN      NaN
1                     White  ...   NaN         NaN          NaN      NaN
2                     White  ...   NaN         NaN          NaN      NaN
3                     White  ...   NaN         NaN          NaN      NaN
4                     White  ...   NaN         NaN          NaN      NaN

  LSOA code LSOA name Crime type Last outcome category Context Outcome type
0       NaN       NaN        NaN                   NaN     NaN          NaN
1       NaN       NaN        NaN                   NaN     NaN          NaN
2       NaN       NaN        NaN                   NaN     NaN          NaN
3       NaN       NaN        NaN                   NaN     NaN          NaN
4       NaN       NaN        NaN                   NaN     NaN          NaN

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237300 entries, 0 to 237299
Data columns (total 26 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Type                                      70928 non-null   object
 1   Date                                      70928 non-null   object
 2   Part of a policing operation              26712 non-null   object
 3   Policing operation                        0 non-null       float64
 4   Latitude                                  216004 non-null  float64
 5   Longitude                                 216004 non-null  float64
 6   Gender                                    68124 non-null   object
 7   Age range                                 62844 non-null   object
 8   Self-defined ethnicity                    67528 non-null   object
 9   Officer-defined ethnicity                 65708 non-null   object
 10  Legislation                               67816 non-null   object
 11  Object of search                          66312 non-null   object
 12  Outcome                                   69140 non-null   object
 13  Outcome linked to object of search        44192 non-null   object
 14  Removal of more than just outer clothing  55824 non-null   object
 15  Crime ID                                  138780 non-null  object
 16  Month                                     166372 non-null  object
 17  Reported by                               166372 non-null  object
 18  Falls within                              166372 non-null  object
 19  Location                                  166372 non-null  object
 20  LSOA code                                 160640 non-null  object
 21  LSOA name                                 160640 non-null  object
 22  Crime type                                55432 non-null   object
 23  Last outcome category                     27840 non-null   object
 24  Context                                   0 non-null       float64
 25  Outcome type                              110940 non-null  object
dtypes: float64(4), object(22)
memory usage: 47.1+ MB
None
       Policing operation       Latitude      Longitude  Context
count                 0.0  216004.000000  216004.000000      0.0
mean                  NaN      52.645350      -1.790155      NaN
std                   NaN       1.143912       1.851283      NaN
min                   NaN      50.111840      -7.673967      NaN
25%                   NaN      51.685020      -3.198161      NaN
50%                   NaN      52.455030      -2.271858      NaN
75%                   NaN      53.402122      -0.105730      NaN
max                   NaN      57.479900       1.757344      NaN

1. Top 10 Type by # events.

In [11]:

if 'Crime type' in combined_df.columns:
    crime_type_counts = combined_df['Crime type'].value_counts().reset_index()
    crime_type_counts.columns = ['Type', 'Num_Events']

    top_10_crime_types = crime_type_counts.head(10)
    top_10_crime_types['Rank'] = top_10_crime_types['Num_Events'].rank(ascending=False, method='min').astype(int)
    top_10_crime_types = top_10_crime_types[['Rank', 'Type', 'Num_Events']]
    print(top_10_crime_types)
else:
    print("Column 'Crime type' does not exist in the dataset.")

   Rank                          Type  Num_Events
0     1  Violence and sexual offences       16068
1     2         Anti-social behaviour        6780
2     3                  Public order        6428
3     4                   Other theft        6216
4     5     Criminal damage and arson        4684
5     6         Theft from the person        3580
6     7                 Bicycle theft        2772
7     8                   Shoplifting        2564
8     9                         Drugs        2132
9    10                      Burglary        1320

<ipython-input-11-8a766d78db0f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_10_crime_types['Rank'] = top_10_crime_types['Num_Events'].rank(ascending=False, method='min').astype(int)

2. Top 10 Ethnicities by Number of Events with Rank

In [13]:

if 'Officer-defined ethnicity' in combined_df.columns:

    ethnicity_counts = combined_df['Officer-defined ethnicity'].value_counts().reset_index()
    ethnicity_counts.columns = ['Type', 'Office_Num_Events']


    top_10_ethnicities = ethnicity_counts.head(10)


    top_10_ethnicities['Office_Ethnic_Rank'] = top_10_ethnicities['Office_Num_Events'].rank(ascending=False, method='min').astype(int)


    top_10_ethnicities = top_10_ethnicities[['Office_Ethnic_Rank', 'Type', 'Office_Num_Events']]

    print(top_10_ethnicities)
else:
    print("Column 'Officer-defined ethnicity' does not exist in the dataset.")

   Office_Ethnic_Rank   Type  Office_Num_Events
0                   1  White              54116
1                   2  Black               6088
2                   3  Asian               3688
3                   4  Other               1356
4                   5  Mixed                460

<ipython-input-13-308e3cd77e4d>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_10_ethnicities['Office_Ethnic_Rank'] = top_10_ethnicities['Office_Num_Events'].rank(ascending=False, method='min').astype(int)